.bg-image {
  background-size: cover;
	background-repeat: no-repeat;
	
}

.ftco-cover {
  @extend .bg-image;
  

  background-position: center center;
 	
	.ftco-heading {
		font-size: 50px;
		line-height: 1.2;
		color: $white;
		@include media-breakpoint-down(md) {
			font-size: 37px;
			line-height: 1.3;
		}
	}
	.ftco-subheading {
		max-width: 450px;
		line-height: 1.5;
	}
	.ftco-subheading, p {
		line-height: 1.7;
		color: rgba(255,255,255,.7);
		font-weight: 300;
		font-family: $font-family-sans-serif;
	}
  .btn {
		@include media-breakpoint-down(md) {
			width: 100%!important;
		}
	}
	a {
		position: relative;
		color: $white;
	}
	&.overlay {
		position: relative;
		&:before {
			content: "";
			background: rgba($black,.6);
			position: absolute;
			top: 0; 
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
	.ftco-vh-100 {
		min-height: 700px!important;
	}
}
// .ftco-slant {
// 	position: relative;
// 	overflow: hidden;

// 	&:after {
// 		width: 120%;
// 		height: 200px;
// 		left: -10%;
// 		background: lighten($black, 95%);
// 		transform: rotate(-5deg);
// 		content: "";
// 		position: absolute;
// 		bottom: -100px;	
// 		@include media-breakpoint-down(lg) {
// 			bottom: -150px;
// 		}
// 		@include media-breakpoint-down(md) {
// 			bottom: -170px;
// 		}
// 	}	
// 	&.ftco-slant-white {
// 		&:after {
// 			background: $white;	
// 		}
// 	}
// 	&.ftco-slant-dark {
// 		&:after {
// 			background: darken(#2A363B, 2%);
// 		}
// 	}
// }
// .ftco-uppercase {
// 	font-size: 30px;
// }
// .menu-item {
// 	margin-bottom: 30px;
// 	img {
// 		width: 100px;
// 		border-radius: 50%;
// 	}
// 	.menu-price {

// 		font-size: 24px;
// 	}
// }

// .display-4 {
// 	@include media-breakpoint-down(md) {
// 		font-size: 37px;
// 	}
// }

.bg-light {
	background: #f1efed!important;
	background: #fafafa!important;
}

// .ftco-custom-gutters {
// 	margin-left: -10px;
// 	margin-right: -10px;
// 	[class*=col-] {
// 		padding-left: 5px;
// 		padding-right: 5px;
// 		margin-bottom: 5px;
// 		.ftco-thumbnail {
// 			display: block;
// 			margin-bottom: 5px;
// 		}
// 	}
// }
