// body {
// 	font-size: 16px;
// 	line-height: 1.8;
// 	// font-weight: 300;
// }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: $black;
	font-weight: 400;
	font-size: 18px;
}


.ftco-navbar-light {
	background: transparent!important;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	top: 10px;
	@include media-breakpoint-down(md) {
		background: $black!important;
		top: 0;
		position: relative;
	}
	
	.navbar-nav {
		> .nav-item {
			> .nav-link {
				font-size: 16px;
				padding-top: 30px;
				padding-bottom: 30px;
				padding-left: 20px;
				padding-right: 20px;
				color: darken($white, 6%);
				&:hover {
					color: $white;
				}
				opacity: 1!important;
				@include media-breakpoint-down(md) {
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
	}
	
	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		height: 8rem;
		margin-top: -130px;
		z-index: 300;
		background: $white!important;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);

		@include media-breakpoint-down(md) {
			height: 8rem;
		}
		.nav-item {
			&.active {
				> a {
					color: $primary!important;
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				background: none;
				border-radius: 0px;
				padding-left: 0rem!important;
				padding-right: 0rem!important;
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(sm) {
				background: none;
				padding-left: 0!important;
				padding-right: 0!important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(0,0,0,.5)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			padding-right: 0;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;

		}
		.nav-link {
			padding-top: .9rem!important;
			padding-bottom: .9rem!important;
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: 1s all ease-out;
		}
		&.sleep {
			transition: 1s all ease-out;	
		}

		.navbar-brand {
			color: $black;
			@include media-breakpoint-down(md) {
				margin-bottom: -7rem;
			}
		}

	}
}

.nav-item{
	cursor: pointer;
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: .1em;
	display: flex;
	justify-content: center;
	align-items: center;
	@include media-breakpoint-down(md) {
		margin-top: -7.5rem;
	}

}

#logo-name {
	margin-bottom: -1rem;
}



.home-logo {
  margin: 2rem 1px 2rem 2rem;
	max-height: 5rem;
	
}

.btn {
	cursor: pointer;
	border-radius: 0px;
	box-shadow: none!important;
	// font-size: 13px;
	// letter-spacing: .2em;
	// text-transform: uppercase;
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: $primary;
		border: 2px solid $primary;
		color: $black;
		&:hover {
			border: 2px solid $primary;
			background: transparent;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 2px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 2px solid transparent;
				background: $primary;
				color :$black;
			}
		}
	}
	&.btn-outline-white {
		border-color: rgba($white, .8);
		background: none;
		border-radius: 0px;
		border-width: 2px;
		&:hover, &:focus, &:active {
			background: $white;
			border-color: $white;
			color: $black;
		}
	}
}

// Change this to adjust height od image
.ftco-vh-100 {
  height: 100vh;
  @include media-breakpoint-down(lg) {
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}

.ftco-section {
	padding: 7em 0;
}

.ftco-bg-dark {
	background: #3c312e;
}
